// Here you can add other styles
.btn, .btn-hover, .btn-danger:hover, .btn-secondary:hover, .btn-dark:hover {
  color: #FFF;
  margin-right: 0.5rem;
}
.btn-link, .btn-link:hover {
  color: #321fdb;
}
.nav-padding-top {
  padding-top: 4px !important;
}